<html>
    <head>
        <title>In Progress</title>
        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- Slogan font -->
        <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    </head>
    <style>
        body{
            background-color: #D8F3DC;
        }

        h1{
            font-family: 'Poiret One', cursive;
            font-size: 80px;
            margin-top: 120px;
            color: #002961;
        }
    </style>
    <body>
        <center>
            <h1>Build in progress</h1>
            <img width="550px" src="https://i.pinimg.com/originals/f6/f7/71/f6f771eb7c7b4b746ff73feac8132d1e.gif" alt="">
        </center>
    </body>
</html>